:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  position: relative;
  display: flex;
  margin: 82px auto 32px;
  max-width: 960px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .card {
    display: flex;
    width: 100%;
    max-width: 960px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-radius: 14px;
    background-color: #FFF;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    overflow: hidden;
  }

  &__left {
    padding: 1.8rem;
    max-width: 30%;
    max-height: 70vh;
    overflow-y: auto;

    sup {
      color: gray;
    }

    textarea {
      border: none;
      resize: vertical;
      width: 100%;
      min-height: 200px;
      max-height: 600px;
    }
  }

  &__right {
    overflow-y: auto;
    height: 80vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__float_button {
    position: absolute;
    right: -4rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: 100ms ease-in-out;
    border: none;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    &:hover {
      border: 3px solid orange;
    }
  }
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  line-height: 20px;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
  }
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, .35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .content {
    flex-direction: column;
    margin: 82px 32px;

    &__left {
      max-width: 100%;
      width: 90%;
    }

    &__right {
      height: auto;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
